.container {
  display: flex;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
}

.form {
  background-color: black;
  color: white;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.form h3 {
  margin: 0 7.5vw;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10% 0;
}

.color {
  color: #fff;
}

.inputs {
  height: calc(60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
}

.item {
  margin: 3% 0;
}

.button {
  width: calc(8vw + 84px);
}

.register {
    margin-left: 5%;
}
