.modal {
  position: fixed;
  bottom: 2%;
  right: 1%;

  opacity: 1;
  transition: 0.4s;

  width: fit-content;
}


.modal_content {
  width: 200px;
  height: 50px;
  padding: 2%;

  color: white;

  border: 1px solid #2e3744;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.lose {
    background-color: red;
}

.success {
    background-color: green;
}

.modal_content p {
    margin: 0;
    font-size: 1rem;
}

@media all and (max-width: 800px) {
    .modal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        right: 0%;
    }

    .modal_content {
      width: 90%;
    }
  }
  