.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container h2 {
  margin: 2% 0;
}

.search {
  margin: calc(3.8rem + 0.5vw) 0 0;
}

.color {
  color: white;
}

.addFile {
  margin: 4% 0 0;
}

@media all and (max-width: 800px) {
  .addFile {
    margin: 8% 0 0;
  }
}
