.floating_button {
  text-decoration: none;
  display: inline-block;

  padding: 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  font-size: calc(0.7rem + 0.1vw);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: #1a1f26;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.floating_button:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: translateY(-3px);
}
