.container {
  width: 100%;
  margin: 1% 0 0;
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: none;
  border-bottom: 3px solid #9b9b9b;
  color: rgb(117, 117, 117);
}

.container::placeholder {
  color: transparent;
}

.container:hover {
  color: white;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.container a {
  color:white;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 55%;
  overflow: hidden;
}

.item {
  margin: 0 2% 0 0;
  font-size: calc(1rem + 0.2vw);
}

.actions {
  display: none;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: left;
}

.actions.active {
  display: flex;
}

.name.active {
  display: none;
}
/* .share {
  display: flex;
} */

/* .buttons {
  display: flex; 
  flex-direction: row;
} */

/* .container:hover {
  justify-content: center;
} */

/* .container:hover .name {
  display: none;
}

.container:hover .actions {
  display: flex;
} */

/* .container:hover .share {
  display: flex;
} */

.color {
  color: white;
}
