.container {
  width: 100%;
  margin: 1% 0 0;
  min-height: 43px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: none;
  border-bottom: 3px solid #9b9b9b;
  color: rgb(117, 117, 117);
}

.container::placeholder {
  color: transparent;
}

.container:hover {
  color: white;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.container a {
  color:white;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  overflow: hidden;

  transition: 0.3s;
}

.item {
  margin: 0 2% 0 0;
  font-size: calc(1rem + 0.2vw);
}

.actions {
  display: none;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: left;

  transition: 0.3s;
}

.actions.active {
  display: flex;
}

.name.active {
  display: none;
}

.doc_type img {
  max-width: 35px;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lines {
  border-bottom: 12px double rgb(117, 117, 117);
  border-top: 4px solid rgb(117, 117, 117);
  content: "";
  height: 4px;
  width: 20px;
  box-sizing: unset;
  display: inline-block;
  vertical-align: middle;
  transition: 0.3s;
}

.lines:hover {
  border-bottom: 12px double white;
  border-top: 4px solid white;
}

@media all and (max-width: 800px) {
  .container {
    min-height: 36px;
  }
  .doc_type img {
    max-width: 25px;
    margin: 4px 0 0;
  }
}