.container {
  width: 100%;
  margin: 1% 0 0;
  min-height: 43px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: none;
  border-bottom: 3px solid #9b9b9b;
  color: rgb(117, 117, 117);
}

.nameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  transition: 0.3s;
}

.name {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item {
  margin: 0 2% 0 0;
  font-size: calc(1rem + 0.2vw);
}

.actions {
  display: none;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: left;

  transition: 0.3s;
}

.actions.active {
  display: flex;
}

.nameContainer.active {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuA {
  margin-left: auto;
}

.lines {
  border-bottom: 12px double rgb(117, 117, 117);
  border-top: 4px solid rgb(117, 117, 117);
  content: "";
  height: 4px;
  width: 20px;
  box-sizing: unset;
  display: inline-block;
  vertical-align: middle;
  transition: 0.3s;
}

.container::placeholder {
  color: transparent;
}

.container:hover {
  color: white;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

a {
  color: white;
}

.lines:hover {
  border-bottom: 12px double white;
  border-top: 4px solid white;
}

.nameContainer img {
  max-width: 35px;
  margin: 0;
}

.gridContainer {
  margin: 1% 1% 0 0;
  
  border: 1px solid #2e3744;
  background-color: rgb(28, 34, 42);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  height: calc(10rem);
  width: calc(9rem + 2vw);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gridContainer .nameContainer {
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
}

.gridContainer .nameContainer img {
  min-width: 4rem;
  padding: 40% 0 0;
}

.gridContainer .name {
  padding: 0 0 2% 0;
}

.gridContainer .menuContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gridContainer .nameContainer.active {
  display: none;
}

.gridContainer .actions {
  display: none;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;

  transition: 0.3s;
}

.gridContainer .actions.active {
  display: flex;
}

.gridContainer .menuA {
  margin: 0;
}

.gridContainer:hover {
  color: white;
}

@media all and (max-width: 800px) {
  .container {
    min-height: 36px;
  }

  .nameContainer img {
    max-width: 25px;
    margin: 4px 0 0;
  }

  .menuContainer {
    width: 90%;
  }

  .gridContainer {
    margin: 4% 0 0;
  }
}