.form {
  background-color: rgb(29, 35, 43);
  box-shadow: 0 0 12px #2f2f31;
  border: 1px solid #232b34;
  border-radius: 10px;
  padding: 2rem 0.7rem 0.7rem 0.7rem;
  text-align: center;
  font-size: 1.125rem;
  max-width: 100%;
}

.form_title {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
}

.form_paragraph {
  margin-top: 10px;
  font-size: 0.9375rem;
  color: rgb(151, 151, 151);
}

.drop_container {
  background-color: #1e232a;
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 2.1875rem;
  border-radius: 10px;
  border: 2px dashed rgb(171, 202, 255);
  color: rgb(151, 151, 151);
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  min-height: calc(2rem + 2vw);
}

.drop_container:hover {
  background: rgba(0, 140, 255, 0.164);
  border-color: rgba(17, 17, 17, 0.616);
}

.drop_container:hover .drop_title {
  color: white;
}

.drop_container:hover {
  color: white
}

.drop_title {
  color: rgb(151, 151, 151);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

#file-input {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 2px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

#file-input::file-selector-button:hover {
  background: #0d45a5;
}
