@font-face {
  font-family: CodecPro;
  src: url(./Common/Fonts/CodecPro.ttf);
}

.App {
  min-width: 250px;

  height: 100vh;
  font-family: CodecPro;
}

.content {
  min-height: calc(100vh - 85px);
  margin: 0 8vw;
}

a {
  text-decoration: none;
}

@media all and (max-width: 900px){
  .App .header {
    margin: 0vw 0vw;
  }
  .App .footer {
    margin: 0vw 0vw;
  }
}

@media all and (min-width: 900px){
  .App .header {
    margin: 0vw 8vw;
  }
  .App .footer {
    margin: 0vw 8vw;
  }
}