@font-face {
  font-family: CodecPro;
  src: url(./Common/Fonts/CodecPro.ttf);
}

.App {
  margin: 0 8vw;
  height: 100vh;
  font-family: CodecPro;
}

.content {
  min-height: calc(100vh - 25px);
}

a {
  text-decoration: none;
}