.container {
  width: 100%;
  margin: 1% 0 0;
  min-height: 43px;

  display: flex;
  flex-direction: row;

  border: none;
  border-bottom: 3px solid #9b9b9b;
  color: rgb(117, 117, 117);
  align-items: center;
}

.container::placeholder {
  color: transparent;
}

.container:hover {
  color: white;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.nameContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  transition: 0.3s;
}

.item {
  margin: 0 2% 0 0;
  font-size: calc(1rem + 0.2vw);
}

img {
  max-width: 35px;
  margin: 0;
}

.gridContainer {
  margin: 1% 1% 0 0;
  
  border: 1px solid #2e3744;
  background-color: rgb(28, 34, 42);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: rgb(151, 151, 151);

  height: calc(10rem);
  width: calc(9rem + 2vw);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gridContainer:hover {
  color: white;
}
.gridContainer .nameContainer {
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
}

.gridContainer .nameContainer img {
  min-width: 4rem;
  padding: 40% 0 0;
}

.gridContainer .name {
  padding: 0 0 2% 0;
}

@media all and (max-width: 800px) {
  .container {
    min-height: 36px;
  }

  .nameContainer img {
    max-width: 25px;
    margin: 4px 0 0;
  }

  .menuContainer {
    width: 90%;
  }

  .gridContainer {
    margin: 4% 0 0;
  }
}